# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.DS_Store
.DS_Store
firmware/buildnum.txt
documentation/cue-system-design.txt
tools/wasm/examples/rust_rainbow/target/
tools/wasm/examples/rust_rgb_cycle/target/
tools/__pycache__/
tools/bas2wasm/bas2wasm
tools/c2wasm/c2wasm
simulator/conez/build/
